<div class='h-fit bg-gradient-to-b from-emerald-800 p-6 '>
  <div class='w-full mb-4 flex items-center justify-between'>
    <div class='hidden md:flex gap-x-2 items-center '>
      <button class='flex items-center justify-center hover:opacity-75 transition'>
        <i class="fa-solid fa-angle-left fa-xl"></i>
      </button>
      <button class='flex items-center justify-center hover:opacity-75 transition'>
        <i class="fa-solid fa-angle-right fa-xl"></i>
      </button>
    </div>
    <div class='flex md:hidden gap-x-2 items-center'>
      <button class='flex items-center hover:opacity-75 transition'>
        <fa-icon [icon]='homeIcon' class='text-white' size='1x'></fa-icon>
      </button>
      <button class='flex items-center hover:opacity-75 transition'>
        <fa-icon [icon]='searchIcon' class='text-white' size='1x'></fa-icon>
      </button>
    </div>
    <div class='flex justify-between items-center gap-x-4'>
      <div>
        <app-button (click)='openAuthModal()' additionalClass='bg-transparent text-neutral-300 font-medium cursor-pointer'>
          Sign up
        </app-button>
      </div>
      <div>
        <app-button (click)='openAuthModal()' additionalClass='bg-white px-6 py-2 cursor-pointer'>
          Log in
        </app-button>
      </div>
    </div>
  </div>
  <ng-content></ng-content>
</div>
