<!-- TODO: check for background blur effect on modal -->
<div [ngClass]='isOpen ? "bg-neutral-900/90 backdrop-blur-sm fixed inset-0" : "hidden"'>
  <div
    class='fixed drop-shadow-md border border-neutral-700 top-[50%] left-[50%] max-h-full h-full md:h-auto md:max-h-[85vh] w-full md:w-[90vw] md:max-w-[450px] translate-x-[-50%] translate-y-[-50%] rounded-md bg-neutral-800 p-[25px] focus:outline-none'>
    <h1 class='text-xl text-center font-bold mb-4'>Add a song</h1>
    <p class='mb-5 text-sm leading-normal text-center'>Upload an mp3 file</p>
    <div>
      <form class='flex flex-col gap-y-4' [formGroup]='songUploadForm' (ngSubmit)='onSubmit()'>
        <input class='custom_input' formControlName='song_title' [disabled]='isLoading' placeholder='Song title'>
        <i class='text-red-400 text-sm text-center'
           *ngIf='songUploadForm.controls["song_title"].invalid && (songUploadForm.controls["song_title"].dirty || songUploadForm.controls["song_title"].touched)'>
          Please enter a valid song title.
        </i>
        <input class='custom_input' formControlName='song_author' [disabled]='isLoading' placeholder='Author'>
        <i class='text-red-400 text-sm text-center'
           *ngIf='songUploadForm.controls["song_author"].invalid && (songUploadForm.controls["song_author"].dirty || songUploadForm.controls["song_author"].touched)'>
          Please enter a valid song title.
        </i>
        <div>
          <div class='pb-1'>
            Select a song file
          </div>
          <input class='custom_input' formControlName='song_file' [disabled]='isLoading' type='file' accept='.mp3'>
        </div>
        <div>
          <div class='pb-1'>
            Select an image cover
          </div>
          <input class='custom_input' formControlName='song_cover' [disabled]='isLoading' type='file' accept='image/*'>
        </div>
        <app-button type='submit' [disabled]='isLoading' [ngClass]='isLoading ? "opacity-75 cursor-not-allowed" : ""'>
          Create
        </app-button>
      </form>
    </div>
    <button
      class='text-neutral-400 hover:text-white absolute top-[10px] right-[10px] inline-flex h-[25px] w-[25px] appearance-none items-center justify-center rounded-full focus:outline-none'
      aria-label='Close'>
      <i (click)='closeModal()' class='fa-solid fa-x fa-sm text-emerald-700'></i>
    </button>
  </div>
</div>
