<div class="mb-2 flex flex-col gap-y-6">
  <h1 class='text-white text-3xl font-semibold'>
    Search
  </h1>
  <app-search-input></app-search-input>
  <div class='flex flex-col gap-y-2 w-full px-6 text-neutral-400' *ngIf='songs.length === 0'>
    No songs found.
  </div>
  <div class='flex flex-col gap-y-2 w-full px-6'>
    <div class='flex items-center gap-x-4 w-full' *ngFor='let song of songs'>
      <div class='flex-1'>
      <app-media-item [song]='song' class='w-[85rem]'></app-media-item>
      </div>
      <app-like-button [songID]='song.id'></app-like-button>
    </div>
  </div>
</div>
