<app-sidebar>
  <main class='bg-neutral-900 rounded-lg m-2 h-[98.5%] w-full overflow-hidden overflow-y-auto'>
    <app-header>
      <div class='mb-2'>
        <h1 class='text-white text-3xl font-semibold'>Welcome back</h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-3 mt-4">
          <app-list-item [image]='"/assets/liked.png"' [name]='"Liked Songs"' [href]='"liked"'></app-list-item>
        </div>
      </div>
    </app-header>
    <div class='mt-2 mb-7 px-6'>
      <div class='flex justify-between items-center'>
        <h1 class='text-white text-2xl font-semibold'>
          <router-outlet></router-outlet>
        </h1>
      </div>
    </div>
    <!-- Modals -->
    <app-authentication-modal></app-authentication-modal>
    <app-upload-song-modal></app-upload-song-modal>
    <app-loading-spinner></app-loading-spinner>
    <!-- alert -->
    <!--    <app-alert></app-alert>-->
    <app-player></app-player>
  </main>
</app-sidebar>
