<div class='flex h-full'>
  <div class='hidden md:flex flex-col gap-y-2 bg-black h-full w-[300px] p-2'>
    <app-box>
      <div class='flex flex-col gap-y-4 px-5 py-4'>
        <app-sidebar-item [icon]='faHome' [label]='"Home"' [link]='""'></app-sidebar-item>
        <app-sidebar-item [icon]='faSearch' [label]='"Search"' [link]='"search"'></app-sidebar-item>
      </div>
    </app-box>
    <div class="bg-neutral-900 rounded-lg w-full overflow-y-auto h-full">
      <app-library></app-library>
    </div>
  </div>
  <ng-content></ng-content>
</div>
