<div class="grid grid-cols-2 md:grid-cols-3 h-full">
  <div class="flex w-full justify-start">
    <div class="flex items-center gap-x-4">
      <app-media-item/>
      <app-like-button />
    </div>
  </div>

  <div
    class="flex md:hidden col-auto w-full justify-end items-center"
  >
    <div
      class="h-10 w-10 flex items-center justify-center rounded-full bg-white p-1 cursor-pointer"
    >
      <i class="fa-solid fa-question"></i>
    </div>
  </div>

  <div
    class="hidden h-full md:flex justify-center items-center w-full max-w-[722px] gap-x-6"
  >
    <i class="fa-solid fa-forward-step text-neutral-400 cursor-pointer hover:text-white transition"></i>
<!-- handle play -->
    <div
      class="flex items-center justify-center h-10 w-10 rounded-full bg-white p-1 cursor-pointer"
    >
      <i class="fa-solid fa-question"></i>
    </div>
    <!-- handle play next -->
    <i class="fa-solid fa-backward-step text-neutral-400 cursor-pointer hover:text-white transition"></i>
  </div>

  <div class="hidden md:flex w-full justify-end pr-2">
    <div class="flex items-center gap-x-2 w-[120px]">
      <i class="fa-solid fa-volume-low cursor-pointer"></i>
      <i class="fa-solid fa-sliders"></i>
<!--      <Slider-->
<!--        value={volume}-->
<!--        onChange={(value) => setVolume(value)}-->
<!--      />-->
    </div>
  </div>

</div>
