<div [ngClass]='isOpen ? "bg-neutral-900/90 backdrop-blur-sm fixed inset-0" : "hidden"'>
  <div
    class='fixed drop-shadow-md border border-neutral-700 top-[50%] left-[50%] max-h-full h-full md:h-auto md:max-h-[85vh] w-full md:w-[90vw] md:max-w-[450px] translate-x-[-50%] translate-y-[-50%] rounded-md bg-neutral-800 p-[25px] focus:outline-none '>
    <div class='cursor-pointer' (click)='onCloseModel()'>&times;</div>
    <h2 mat-dialog-title class='text-xl text-center font-bold mb-4'>
      Welcome back
    </h2>
    <div class='mb-5 text-sm leading-normal text-center'>
      Login to your account.
    </div>
    <div>
    </div>

    <div>
      <button class='text-neutral-400 hover:text-white absolute top-[10px] right-[10px] inline-flex h-[25px] w-[25px] appearance-none items-center justify-center rounded-full focus:outline-none' aria-label='Close'>
      </button>
    </div>
  </div>
</div>
