@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  background-color: black;
  color-scheme: dark;
}

:root {
}

.icon_container {
  @apply border border-solid border-emerald-800 rounded inline-flex justify-center items-center mx-[3px] w-10 h-10 transition duration-75 hover:scale-110;
}

.auth_button {
  @apply cursor-pointer mt-2.5 uppercase tracking-wide font-bold rounded-xl border border-solid border-emerald-800 px-1 py-2 w-full text-slate-100 hover:bg-emerald-800;
}

.form_input {
  @apply bg-[#585858] border-none my-2 py-2.5 px-4 text-sm rounded-xl w-full outline-none
}

.container_form {
  @apply bg-[#404040] flex items-center justify-center flex-col px-10 h-full
}

.custom_input {
  @apply flex w-full rounded-md bg-neutral-700 border border-transparent px-3 py-3 text-sm file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-neutral-400 disabled:cursor-not-allowed disabled:opacity-50 focus:outline-none
}
